### Activity 2.01 â€“ Working with pandas data structures

## Import the pandas library

In [13]:
import pandas as pd

## Read the US_GDP.csv file from the Datasets directory into a DataFrame named GDP_data. The data is stored as dates and values, and you wish to use the dates as the index, so that in future work you may apply pandas time series methods to this data.

In [14]:
fname = '../Chapter 2/Datasets/US_GDP.csv'
GDP_data = pd.read_csv(fname)

## Display the head of GDP_data so that you can see the formats of the data in the file.

In [15]:
GDP_data.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

## Inspect the object types of GDP_data, in particular the date column.

In [16]:
GDP_data.dtypes

date     object
GDP     float64
dtype: object

## Use the pd.to_datetime() method to convert the date column into a timestamp.

In [17]:
GDP_data['date'] = pd.to_datetime(GDP_data['date'])
GDP_data.dtypes

date    datetime64[ns]
GDP            float64
dtype: object

## Use the .set_index() method to replace the index with the date column. Be sure to use inplace = True so the result is applied to the existing DataFrame, and drop = True to remove the date column after it is used for the index. Use .head() to confirm the result. The output should be as follows:

In [18]:
GDP_data.set_index('date', inplace = True)
GDP_data.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

## Use the .to_csv() method to save the file to a new .csv file named US_GDP_date_index.csv.

In [19]:
GDP_data.to_csv('../Chapter 2/Datasets/US_GDP_date_index.csv')