# Activity 6.01 â€“ Series data selection

## For this activity, all you will need is the pandas library. Load it into the first cell of the notebook.

In [1]:
import pandas as pd

## Read in a pandas Series from the US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv file. This data is from the US Census Bureau (source: https://www2.census.gov/programs-surveys/popest/datasets/2010/2010-eval-estimates/). The city names are in the first column, so read them so that they are used as the indexes. List the resulting Series.

In [4]:
raw_url_1 = "https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter06/Datasets/US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv"

populations_2010 = pd.read_csv(raw_url_1, index_col = [0]).squeeze("columns")
populations_2010

City
New York                8190209
Los Angeles             3795512
Chicago                 2697477
Houston                 2100280
Phoenix                 1449038
Philadelphia            1528283
San Antonio             1332299
San Diego               1305906
Dallas                  1200350
San Jose                 954940
Austin                   806164
Jacksonville             823114
Fort Worth               748441
Columbus                 790943
Charlotte                738444
San Francisco            805505
Indianapolis             821579
Seattle                  610630
Denver                   603359
District of Columbia     605226
Name: 2010, dtype: int64

## Calculate the total population of the three largest cities in the 2010 Series (New York, Los Angeles, and Chicago) and save the result in a variable.

In [9]:
largest_3_2010 = sum(populations_2010[['New York', 'Los Angeles', 'Chicago']])
largest_3_2010

14683198

## Read in the corresponding data for 2019 from the US_Census_SUB-IPEST2019-ANNRNK_top_20_2019.csv file, again using the first column as the index and reading the data into a Series. This data is from the US Census Bureau (source: https://www2.census.gov/programs-surveys/popest/tables/2010-2019/cities/totals/).

In [8]:
raw_url_2 = "https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter06/Datasets/US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv"

populations_2019 = pd.read_csv(raw_url_2, index_col = [0]).squeeze("columns")
populations_2019

City
New York                8336817
Los Angeles             3979576
Chicago                 2693976
Houston                 2320268
Phoenix                 1680992
Philadelphia            1584064
San Antonio             1547253
San Diego               1423851
Dallas                  1343573
San Jose                1021795
Austin                   978908
Jacksonville             911507
Fort Worth               909585
Columbus                 898553
Charlotte                885708
San Francisco            881549
Indianapolis             876384
Seattle                  753675
Denver                   727211
District of Columbia     705749
Name: 2019, dtype: int64

## Calculate the total population for the same three cities in the 2019 Series and save the result in a variable.

In [10]:
largest_3_2019 = sum(populations_2019[['New York', 'Los Angeles', 'Chicago']])
largest_3_2019

15010369

## Using the saved values, calculate the percent change from 2010 to 2019 for the three cities. Also, calculate the percent change for all the cities. Print out a comparison of the changes for the three cities versus all cities. The result should be similar to the following:

In [17]:
largest_3_change = 100 * (largest_3_2019 - largest_3_2010) / largest_3_2010
all_change = 100 * sum(populations_2019 - populations_2010)/ sum(populations_2010)
print('top 3 changed', str(round(largest_3_change, 1)), '%\n', 'vs. all changed', str(round(all_change, 1)), '%')

top 3 changed 2.2 %
 vs. all changed 8.0 %